.btn {
  border-radius: 38px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #0003ff;
  border: unset;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 5px 0px #000;
  transition: box-shadow 0.6s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
      0px 0px 10px 0px #000;
  }
  &:active {
    transform: scale(1.05);
  }
  &:hover .btn__circle {
    width: 225%;
    padding-top: 225%;
  }
  &:hover .btn__text {
    color: #0003ff;
  }
  &__circle {
    background: #fff;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-radius: 100%;
    transform: translate3d(-50%, -50%, 0);
    transition: width 0.6s cubic-bezier(0.16, 0.01, 0.77, 1),
      padding-top 0.6s cubic-bezier(0.16, 0.01, 0.77, 1);
  }

  &__inner {
    border-radius: 38px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    display: inline-block;
    background: #0003ff;
    text-align: center;
    text-decoration: none;
    padding: 16px 35px;
    z-index: 1000;
    transition: all 0.3s ease, color 0.6s ease;
  }
  &__text {
    position: relative;
    z-index: 100;
    transition: all 0.3s ease, color 0.6s ease;
  }
}

.col-12 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-6 {
  flex: 0 0 25%;
  max-width: 25%;
}
// Section adventures
.adventures {
  &__container {
  }
  &__content {
    padding-bottom: 472px;
  }
  &__top {
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 1.64286px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 338px;
    padding-bottom: 495px;
  }
  &__bottom {
    padding-top: 64px;
    border-top: 1px solid #dedede;
    display: flex;
  }
  &__center {
    position: relative;
    max-width: 1623px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  &__title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 178px;
    line-height: 146px;
    letter-spacing: -7px;
    text-transform: uppercase;
    background: linear-gradient(23.75deg, #d4c9c1 24.38%, #414345 78.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__img {
    position: absolute;
    top: -133px;
    left: -97px;
    pointer-events: none;
  }
  &__p2 {
    padding-top: 2px;
    padding-left: 458px;
  }
  &__p4,
  &__p5 {
    padding-left: 659px;
  }

  &__flashlight-wrapper {
    padding-top: 278px;
    position: relative;
  }
  &__flashlight1 {
    position: absolute;
    bottom: 0;
    right: 46%;
  }
  &__flashlight2 {
    position: absolute;
    bottom: -10%;
    right: 19%;
    transform: rotate(-90deg);
  }
  &__flashlight3 {
    position: absolute;
    bottom: 2px;
    right: 13.3%;
  }
  &__flashlight4 {
    position: absolute;
    bottom: -18%;
    right: 8.2%;
    transform: rotate(135deg);
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-transform: uppercase;
    color: #dedede;
    max-width: 302px;
  }
  &__card {
    letter-spacing: -0.1px;

    &:first-child {
      font-weight: 700;
      font-size: 33px;
      line-height: 43px;
      text-transform: uppercase;
    }
    &:last-child {
      padding-left: 22px;
    }
  }
  &__text_before {
    padding-left: 2px;
    margin-bottom: 35px;
    position: relative;

    &::before {
      content: "1";
      top: 6px;
      left: -36px;
      width: 23px;
      height: 23px;
      position: absolute;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #555555;
      border: 1px solid #555555;
      border-radius: 50%;
    }
  }
  &__text_after {
    padding-left: 2px;
    position: relative;

    &::before {
      content: "2";
      top: 8px;
      left: -37px;
      width: 23px;
      height: 23px;
      position: absolute;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #555555;
      border: 1px solid #555555;
      border-radius: 50%;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    color: #2445ff;
    padding-bottom: 25px;
    &:first-child {
      margin-top: 5px;
    }
  }
}

// Section collections
.collections {
  &__container {
  }
  &__content {
    padding-bottom: 200px;
  }
  &__title {
    position: relative;
    padding-left: 82px;

    span {
      position: relative;
      z-index: 10;
      font-weight: 700;
      font-size: 376px;
      line-height: 514px;
      text-align: center;
      letter-spacing: -5.41007px;
      text-transform: uppercase;
      background: linear-gradient(23.75deg, #d4c9c1 24.38%, #414345 78.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    &::before {
      content: "";
      position: absolute;
      top: -102px;
      left: 438px;
      width: 688px;
      height: 688px;
      background: url("../images/pose-2.svg") no-repeat center center;
      z-index: 15;
    }
    &::after {
      content: "";
      position: absolute;
      top: -202px;
      right: 324px;
      width: 688px;
      height: 688px;
      background: url("../images/pose-3.svg") no-repeat center center;
      z-index: 1;
    }
  }
  &__body {
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
    max-width: 816px;
    letter-spacing: -0.1px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 60px;
    line-height: 58px;
    text-align: right;
    letter-spacing: -0.752484px;
    text-transform: uppercase;
    color: #939393;
    padding-right: 60px;
    span {
      &:last-child {
        display: block;
        padding: 2px 2px 0 0;
      }
    }
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-transform: uppercase;
    max-width: 396px;
    font-family: "Manrope";
    font-style: normal;
    padding-top: 2px;

    p:not(:first-child) {
      text-indent: 12px;
    }
  }
}
